# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# python
/backend_fastapi/__pycache__
/backend_fastapi/markedimages/*
/backend_fastapi/marked_images/*
/backend_fastapi/data/images/*
/backend_fastapi/data/images/marked/*
/backend_fastapi/data/images/original/*
/backend_fastapi/data/db/*
__init__.py
__pycache__
*.jpg
*.jpeg
*.png
*.gif
*.JPG
*.JPEG
*.PNG
*.GIF
메모.txt
db.sqlite3
